*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
}

#current-day {
  margin-top: 2rem;
  color: blue;
}

.container {
  margin-bottom: 3rem;
}

.col-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.col-10 {
  background-color:#ffffff;
  height: inherit;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  /* color: #000000; */
  border-left: 0.0625rem solid black;
  /* padding: 10px; */
  width: 100%;
  height: 99%;
  /* margin-right: 0rem;  */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 0.625rem solid black;
}

.description{
  white-space: pre-wrap;
  /* background-color: lightgrey; */
}
/* for all time block rows */
.time-block{
  text-align: center;
  border-radius: 1rem;
}
/* for all time block rows */
.row {
  /* white-space: pre-wrap; */
  height: 5rem;
  width: 100%;
  border-top: 0.0625rem solid white;
  margin-left: auto !important;
  margin-right: auto !important;
}
/*  for hour div col*/
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 0.0625rem dashed #000000;
  height: inherit;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .span-time {
    font-size: 0.55rem;
  }
}
@media screen and (min-width: 576px) {
  .span-time {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .span-time {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  .span-time {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .span-time {
    font-size: 1.2rem;
  }
}


.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #06AED5;
  height: 100%;
  width: 100%;
  color: white;
}

.saveBtn i:hover {
  font-size: 1.25rem;
  transition: all .3s ease-in-out;
}

.fa-save:hover {
  color: black;
}
